%footer.footer
  .row.footer.navbar-blue.footer-bottom{:style => "color: white; position: static; margin-top: 15px;"}
    .ft-txt.pull-left Follow us
    .socials.pull-left
      %span
        %a{:href => "https://www.linkedin.com/company/product-data-lake", :target => "_blank"}
          %img{:alt => "", :src => "/images/icon-linkendin.png"}/
      %span
        %a{:href => "https://twitter.com/ProductDataLake", :target => "_blank"}
          %img{:alt => "", :src => "/images/icon-twitter.png"}/
    .cp.pull-right
      %p{"data-target" => "#addressmodal", "data-toggle" => "modal", :style => "cursor: pointer;"} © 2016 Product Data Lake All rights reserved.
